<div class="form-horizontal" id="dokumen_0">

    <div class="card-tools text-right">
    </div>
    <div class="form-group row">
        <label class="col-2 opsional">Nama</label>
        <div class="col-10">
            <input class="form-control" placeholder="Nama Lengkap Peserta" type="text" data-val="true"
                data-val-required="The Nama field is required." id="Kepesertaan_0__Nama" name="Kepesertaan[0].Nama"
                value="">
            <span class="text-danger field-validation-valid" data-valmsg-for="Kepesertaan[0].Nama"
                data-valmsg-replace="true"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 opsional">Tanggal Lahir</label>
        <div class="col-10">

            <input class="form-control" placeholder="Tanggal Lahir Peserta" type="text" data-val="true"
                data-val-required="The TL field is required." id="Kepesertaan_0__TL" name="Kepesertaan[0].TL" value="">
            <span class="text-danger field-validation-valid" data-valmsg-for="Kepesertaan[0].TL"
                data-valmsg-replace="true"></span>

        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 opsional">Keterangan</label>
        <div class="col-10">
            <input class="form-control" placeholder="Keterangan Peserta" type="text" data-val="true"
                data-val-required="The Keterangan field is required." id="Kepesertaan_0__Keterangan"
                name="Kepesertaan[0].Keterangan" value="">
            <span class="text-danger field-validation-valid" data-valmsg-for="Kepesertaan[0].Keterangan"
                data-valmsg-replace="true"></span>
        </div>
    </div>
    <hr />
</div>
