<div class="form-horizontal" id="dokumen_0">

    <div class="card-tools text-right">
    </div>
    <div class="form-group row">
        <label class="col-2 harus">Nama</label>
        <div class="col-10">
            <input class="form-control" placeholder="Nama Lengkap Peserta" type="text" data-val="true"
                data-val-required="The Nama field is required." id="Kepesertaan_0__Nama" name="Kepesertaan[0].Nama"
                value="">
            <span class="text-danger field-validation-valid" data-valmsg-for="Kepesertaan[0].Nama"
                data-valmsg-replace="true"></span>
        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 harus">NIP</label>
        <div class="col-10">

            <input class="form-control" placeholder="NIP Peserta" type="text" data-val="true"
                data-val-required="The NIP field is required." id="Kepesertaan_0__NIP" name="Kepesertaan[0].NIP"
                value="">
            <span class="text-danger field-validation-valid" data-valmsg-for="Kepesertaan[0].NIP"
                data-valmsg-replace="true"></span>

        </div>
    </div>

    <div class="form-group row">
        <label class="col-2 harus">Jabatan/Unit Kerja</label>
        <div class="col-10">
            <input class="form-control" placeholder="Jabatan/Unit Kerja Peserta" type="text" data-val="true"
                data-val-required="The Jabatan/Unit Kerja field is required." id="Kepesertaan_0__Jabatan"
                name="Kepesertaan[0].Jabatan" value="">
            <span class="text-danger field-validation-valid" data-valmsg-for="Kepesertaan[0].Jabatan"
                data-valmsg-replace="true"></span>
        </div>
    </div>
    <hr />
</div>