.text-bold,
.text-bold.table td,
.text-bold.table th {
    font-weight: 700
}

.text-blue {
    color: #263C92
}

.text-lightblue {
    color: #3c8dbc
}

.harus {
    color: #525F7F;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 12px;
}

body {
    font-family: Poppins, sans-serif !important;
    color: #525f7f;
}

.form-control::placeholder {
    color: #939ba2;
    opacity: 1
}
